<nav class="panel">
  <p class="panel-heading">
    {{t "sidebar.column.collectionCounter" count=collections.length}}
  </p>
  {{#each collections as |collection|}}
  {{#link-to 'collections.show' collection class="panel-block"}}
    <span class="panel-icon">
      {{fa-icon "bars"}}
    </span>
    {{collection.title}}
  {{/link-to}}
  {{/each}}
</nav>
{{yield}}
