.notification-fade {
  opacity: 0;
  display: none;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
  &.notification-show {
    display: block;
    opacity: 1;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
  }
}


.modal-content {
  padding: 30px;
  background-color: white;
}

.header {
  margin-bottom: 1em;
}