html {
  background-color: white;
}
.notification-fade {
  opacity: 0;
  display: none;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
  &.notification-show {
    display: block;
    opacity: 1;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
  }
}


.modal-content {
  padding: 30px;
  background-color: white;
}

.header {
  margin-bottom: 1em;
}

.weekly-preview {
  margin: 20px;
}

.panel-block.active {
  background-color: #F5F7FA;
  .panel-icon {
  }
}

.side-links {
  max-height: 80vh;
  overflow-y: scroll;
}

.link-list {
  margin: 10px;
  .link-item {
    margin: 20px;
  }
}

.favorite {
  color: #fce473;
}
.issue-item-wrapper {
  min-height: 200px;
  .issue-item {
    padding: 10px;
    // border: 1px solid black;
    // border-radius: 10px;
    .link-list {
      li {
        padding-bottom:  5px;
      }
    }
  }
}
