html {
  background-color: white;
}
.notification-fade {
  opacity: 0;
  display: none;
  -webkit-transition: all 1s; /* Safari */
  transition: all 1s;
  &.notification-show {
    display: block;
    opacity: 1;
    -webkit-transition: all 1s; /* Safari */
    transition: all 1s;
  }
}


.modal-content {
  padding: 30px;
  background-color: white;
}

.header {
  margin-bottom: 1em;
}

.weekly-preview {
  margin: 20px;
}

.panel-block.active {
  background-color: #1fc8db;
  color: white;
  .panel-icon {
    color: white;
  }
}

.side-links {
  max-height: 80vh;
  overflow-y: scroll;
}