{{!-- Main --}}
<div class="columns">
  <div class="column is-two-thirds">
    <figure class="image is-3by2">
      <img src="http://placehold.it/1024x768">
    </figure>
  </div>
  <div class="column">
    <header>
    <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
      quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
      consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
      cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
      proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </div>
    <div>
      heart bookmark facebook twitter
    </div>
  </div>
</div>
{{!-- Sub1 --}}
<div class="columns is-multiline is-mobile">
  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}
  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}  {{!-- Sub Item Start --}}
  <div class="column is-one-third">
    {{!-- Image --}}
    <figure class="image is-16by9">
      <img src="http://placehold.it/1024x768">
    </figure>
    {{!-- header --}}
    <header>
      <h2 class="title is-3">Lorem ipsum dolor</h2>
    </header>
    {{!-- Detail --}}
    <div>
      3 reads, MBC, Technology
    </div>
    <div>
      eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    </div>
  </div>
  {{!-- Sub Item End --}}
  </div>
  {{!-- End of Sub1  --}}
  {{!-- Sub2  --}}
  <div class="columns">
    <div class="column is-two-thirds">
      <h1 class="title is-3">Most Interested</h1>
      {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}
      {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}
            {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}
            {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}
            {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}
            {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}
            {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}
            {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}
            {{!-- Sub2 Item Start --}}
      <div class="columns">
        <div class="column is-one-quarter">
          <figure class="image is-16by9">
            <img src="http://placehold.it/1024x768">
          </figure>
        </div>
        <div class="column">
          {{!-- header --}}
          <header>
            <h2 class="title is-3">Lorem ipsum dolor</h2>
          </header>
          {{!-- Detail --}}
          <div>
            3 reads, MBC, Technology
          </div>
          <div>
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
          </div>
        </div>
      </div>
      {{!-- Sub2 Item End --}}

    </div>
    <div class="column">
      <h1 class="title is-3">Upcoming</h1>
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}
      {{!-- Sub3 Item Start --}}
      <div>
        {{!-- header --}}
        <header>
          <h2 class="title is-3">Lorem ipsum dolor</h2>
        </header>
        {{!-- Detail --}}
        <div>
          3 reads, MBC, Technology
        </div>
      </div>
      {{!-- Sub3 Item End --}}

    </div>
</div>
{{outlet}}
