<h1 class="title is-3">Archive</h1>
<p class="control is-grouped">
  <input class="input" type="text" placeholder="Find a link">
  <a class="button is-info">
    Search
  </a>
</p>

<hr>

<div class="columns">
  <div class="column">
    <ul>
      {{#each links as |link|}}
        {{#link-item link=link}}
          <button class="delete" {{action "deleteLink" link}}></button>
        {{/link-item}}
      {{/each}}
    </ul>
  </div>
</div>

{{outlet}}
