<h1 class="title is-3">Archive</h1>
<p class="control">
  {{search-link-box value=searchTerm class="input" placeholder="Search Links"}}
</p>

<p class="control">
  <label class="checkbox">
    {{input type="checkbox" checked=filterByFavorite}}
    Show favorite links only
  </label>
</p>

<hr>
<div class="columns">
  <div class="column">
    <ul class="link-list">
      {{#each filteredLinks as |link index|}}
        {{#link-item link=link showNotification="showNotification"}}
        {{/link-item}}
      {{/each}}
    </ul>
  </div>
</div>
{{outlet}}
