{{!-- Main Nav --}}
<nav class="navbar">
  <p class="navbar-item has-text-centered">
    <a class="link is-info">Home</a>
  </p>
  <p class="navbar-item has-text-centered">
    <a class="link is-info">Menu</a>
  </p>
  <p class="navbar-item has-text-centered">
    <h1 class="title is-3">LINK CURATION</h1>
  </p>
  <p class="control has-addons">
    <input class="input" type="text" placeholder="Search Link">
    <button class="button ">
      Search
    </button>
  </p>
  <p class="navbar-item has-text-centered">
    <a class="button">Sign In / Sing Up</a>
  </p>
</nav>
{{!-- Sub Nav --}}
<div class="tabs is-centered">
  <ul>
    <li><a>Pictures</a></li>
    <li><a>Music</a></li>
    <li><a>Videos</a></li>
    <li><a>Documents</a></li>
  </ul>
</div>

{{outlet}}
