<h1 class="title is-1">Weekly Newsletters</h1>
<div class="tabs">
  <ul>
    {{#link-to 'weeklies.index' tagName='li'}}<a href="#">Home</a>{{/link-to}}
    {{#link-to 'weeklies.new' tagName='li'}}<a href="#">New</a>{{/link-to}}
  </ul>
</div>
{{outlet}}
